# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.3.0=pypi_0
adatest=0.3.5=pypi_0
aiohttp=3.8.3=pypi_0
aiohttp-security=0.4.0=pypi_0
aiohttp-session=2.12.0=pypi_0
aiosignal=1.3.1=pypi_0
appdirs=1.4.4=pypi_0
asttokens=2.2.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pypi_0
attrs=22.1.0=pypi_0
babel=2.11.0=pypi_0
backcall=0.2.0=pypi_0
bashplotlib=0.6.5=pypi_0
bigbench=0.0.1=pypi_0
black=22.12.0=pypi_0
blas=1.0=mkl
bleurt=0.0.2=pypi_0
brotlipy=0.7.0=py310h7f8727e_1002
bzip2=1.0.8=h7b6447c_0
ca-certificates=2022.10.11=h06a4308_0
cached-property=1.5.2=pypi_0
cachetools=5.2.0=pypi_0
certifi=2022.9.24=py310h06a4308_0
cffi=1.15.1=py310h5eee18b_3
charset-normalizer=2.0.4=pyhd3eb1b0_0
chex=0.1.5=pypi_0
click=8.1.3=pypi_0
cloudpickle=2.2.0=pypi_0
clu=0.0.7=pypi_0
colorama=0.4.6=pypi_0
commonmark=0.9.1=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.0.6=pypi_0
cryptography=38.0.1=py310h9ce1e76_0
cudatoolkit=10.2.89=hfd86e86_1
cvxpy=1.2.2=pypi_0
cycler=0.11.0=pypi_0
datasets=2.7.1=pypi_0
decorator=5.1.1=pypi_0
dill=0.3.6=pypi_0
diskcache=5.4.0=pypi_0
dm-tree=0.1.7=pypi_0
ecos=2.0.10=pypi_0
editdistance=0.6.1=pypi_0
et-xmlfile=1.1.0=pypi_0
etils=0.9.0=pypi_0
exceptiongroup=1.0.4=pypi_0
executing=1.2.0=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.8.2=pypi_0
flatbuffers=22.12.6=pypi_0
flax=0.6.3=pypi_0
flit-core=3.6.0=pyhd3eb1b0_0
fonttools=4.38.0=pypi_0
freetype=2.12.1=h4a9f257_0
frozenlist=1.3.3=pypi_0
fsspec=2022.11.0=pypi_0
func-timeout=4.3.5=pypi_0
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
giflib=5.2.1=h7b6447c_0
gin-config=0.5.0=pypi_0
gmp=6.2.1=h295c915_3
gnutls=3.6.15=he1e5248_0
google-auth=2.15.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
google-search-results=2.4.1=pypi_0
googleapis-common-protos=1.57.0=pypi_0
grpcio=1.51.1=pypi_0
h5py=3.7.0=pypi_0
huggingface-hub=0.11.1=pypi_0
idna=3.4=py310h06a4308_0
immutabledict=2.2.3=pypi_0
importlib-resources=5.10.1=pypi_0
iniconfig=1.1.1=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
ipython=8.7.0=pypi_0
jax=0.3.25=pypi_0
jaxlib=0.3.25=pypi_0
jedi=0.18.2=pypi_0
joblib=1.2.0=pypi_0
jpeg=9e=h7f8727e_0
jsonlines=3.1.0=pypi_0
keras=2.11.0=pypi_0
kiwisolver=1.4.4=pypi_0
lame=3.100=h7b6447c_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
lerc=3.0=h295c915_0
libclang=14.0.6=pypi_0
libdeflate=1.8=h7f8727e_5
libffi=3.4.2=h6a678d5_6
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libiconv=1.16=h7f8727e_2
libidn2=2.3.2=h7f8727e_0
libpng=1.6.37=hbc83047_0
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.16.0=h27cfd23_0
libtiff=4.4.0=hecacb30_2
libunistring=0.9.10=h27cfd23_0
libuuid=1.41.5=h5eee18b_0
libwebp=1.2.4=h11a3e52_0
libwebp-base=1.2.4=h5eee18b_0
llvmlite=0.39.1=pypi_0
lxml=4.9.1=pypi_0
lz4-c=1.9.4=h6a678d5_0
markdown=3.4.1=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.6.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
mesh-tensorflow=0.1.21=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py310h7f8727e_0
mkl_fft=1.3.1=py310hd6ae3a3_0
mkl_random=1.2.2=py310h00e6091_0
ml-collections=0.1.1=pypi_0
mpmath=1.2.1=pypi_0
msgpack=1.0.4=pypi_0
multidict=6.0.3=pypi_0
multiprocess=0.70.14=pypi_0
mypy-extensions=0.4.3=pypi_0
ncurses=6.3=h5eee18b_3
nest-asyncio=1.5.6=pypi_0
nettle=3.7.3=hbbd107a_1
nltk=3.8=pypi_0
numba=0.56.4=pypi_0
numpy=1.23.4=py310hd5efca6_0
numpy-base=1.23.4=py310h8e6c178_0
oauthlib=3.2.2=pypi_0
openai=0.25.0=pypi_0
openh264=2.1.1=h4ff587b_0
openpyxl=3.0.10=pypi_0
openssl=1.1.1s=h7f8727e_0
opt-einsum=3.3.0=pypi_0
optax=0.1.4=pypi_0
orbax=0.0.23=pypi_0
osqp=0.6.2.post8=pypi_0
packaging=22.0=pypi_0
pandas=1.5.2=pypi_0
pandas-stubs=1.5.2.221213=pypi_0
parsimonious=0.10.0=pypi_0
parso=0.8.3=pypi_0
pathspec=0.10.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.2.0=py310hace64e9_1
pip=22.3.1=py310h06a4308_0
platformdirs=2.6.0=pypi_0
pluggy=1.0.0=pypi_0
portalocker=2.6.0=pypi_0
profanity=1.1=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.36=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.4=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=10.0.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pygments=2.13.0=pypi_0
pyopenssl=22.0.0=pyhd3eb1b0_0
pyparsing=3.0.9=pypi_0
pysocks=1.7.1=py310h06a4308_0
pytest=7.2.0=pypi_0
python=3.10.8=h7a1cb2a_1
python-dateutil=2.8.2=pypi_0
pytorch=1.12.1=py3.10_cuda10.2_cudnn7.6.5_0
pytorch-mutex=1.0=cuda
pytz=2022.6=pypi_0
pyyaml=6.0=pypi_0
qdldl=0.1.5.post2=pypi_0
readline=8.2=h5eee18b_0
regex=2022.10.31=pypi_0
requests=2.28.1=py310h06a4308_0
requests-oauthlib=1.3.1=pypi_0
requests-unixsocket=0.3.0=pypi_0
responses=0.18.0=pypi_0
restrictedpython=6.0=pypi_0
rich=12.6.0=pypi_0
rouge-score=0.1.2=pypi_0
rsa=4.9=pypi_0
sacrebleu=2.3.1=pypi_0
scikit-learn=1.2.0=pypi_0
scipy=1.9.3=pypi_0
scs=3.2.2=pypi_0
seaborn=0.12.1=pypi_0
sentence-transformers=2.2.2=pypi_0
sentencepiece=0.1.97=pypi_0
seqio=0.0.13=pypi_0
setuptools=65.5.0=py310h06a4308_0
shap=0.41.0=pypi_0
six=1.16.0=pyhd3eb1b0_1
slicer=0.0.7=pypi_0
sqlite=3.40.0=h5082296_0
stack-data=0.6.2=pypi_0
sympy=1.11.1=pypi_0
t5=0.9.3=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.11.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.11.0=pypi_0
tensorflow-datasets=4.7.0=pypi_0
tensorflow-estimator=2.11.0=pypi_0
tensorflow-hub=0.12.0=pypi_0
tensorflow-io-gcs-filesystem=0.28.0=pypi_0
tensorflow-metadata=1.12.0=pypi_0
tensorflow-text=2.11.0=pypi_0
tensorstore=0.1.28=pypi_0
termcolor=2.1.1=pypi_0
tf-slim=1.1.0=pypi_0
tfds-nightly=4.7.0.dev202212130044=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.2=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
torchaudio=0.12.1=py310_cu102
torchvision=0.13.1=py310_cu102
tqdm=4.64.1=pypi_0
traitlets=5.7.1=pypi_0
transformers=4.25.1=pypi_0
types-pytz=2022.6.0.1=pypi_0
typing_extensions=4.4.0=py310h06a4308_0
tzdata=2022g=h04d1e81_0
urllib3=1.26.13=py310h06a4308_0
wcwidth=0.2.5=pypi_0
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.14.1=pypi_0
xxhash=3.1.0=pypi_0
xz=5.2.8=h5eee18b_0
yarl=1.8.2=pypi_0
zipp=3.11.0=pypi_0
zlib=1.2.13=h5eee18b_0
zstd=1.5.2=ha4553b6_0
